.areadeatuacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--preto-fundo);
    color: var(--branco);
    padding: 6em 0 3em 0;
}

.areadeatuacao__subtitulo {
    color: var(--vermelho);
    text-align: center;
}

.areadeatuacao__titulo {
    font-size: 3em;
    text-align: center;
}

.areadeatuacao__areas {
    display: flex;
    align-items: center;
    margin: 0 8em;
}

.areadeatuacao__area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em 1em;
    text-align: center;
}

.area__titulo {
    margin-top: 1em;
}

.area__descricao {
    width: 65%;
}

.areadeatuacao__imagem {
    width: 400px;
    border-radius: 10px;
}

.areadeatuacao-mobile {
    display: none;
}

@media screen and (min-width: 1800px) {

    .areadeatuacao__subtitulo {
        font-size: 1.5em;
    }

    .areadeatuacao__titulo {
        font-size: 3em;
    }

    .area__titulo {
        font-size: 2em;
    }

    .area__descricao {
        font-size: 1.3em;
        margin-top: .5em;
    }

    .areadeatuacao__imagem {
        width: 500px;
    }

    .areadeatuacao-mobile {
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .areadeatuacao {
        background-color: var(--cinza);
        margin: 0;
        padding: 0;
    }

    .areadeatuacao-desktop {
        display: none;
    }

    .areadeatuacao-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--preto-fundo);
        padding: 2em 1em;
        text-align: center;
    }

    .areadeatuacao-mobile__imagem {
        width: 300px;
        margin: 1em 0;
        border-radius: 5px;
    }

    .areadeatuacao-mobile__subtitulo {
        color: var(--vermelho);
    }

    .areadeatuacao-mobile__area {
        margin-top: 1em;
    }

    .areadeatuacao-mobile__descricao {
        margin-bottom: 1em;
        padding: 0 1.5em;
    }


}


