.banner {
    padding: 4em 0;
    text-align: center;
    background-color: var(--preto-fundo);
}

.banner__subtitulo {
    color: var(--vermelho);
}

.banner__titulo {
    color: var(--branco);
}

@media screen and (min-width: 1800px) {

    .banner {
        padding: 6em 0;
    }
    
    .banner__subtitulo {
        font-size: 1.5em;
    }

    .banner__titulo {
         font-size: 3em;
    }

}

@media screen and (max-width: 1024px) {

    .banner {
        display: none;
    }

}

