.equipe {
    margin: 0 0 4em 0;
}

.equipe__titulo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.equipe__imagem {
    border-radius: 130px;
    width: 130px;
    height: 130px;
}

.equipe__itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe__item {
    background-color: var(--branco);
    padding: 2em;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.equipe-mobile {
    display: none;
}

@media screen and (min-width: 1800px) {

    .equipe__imagem {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }

    .equipe__nome {
        font-size: 1.5em;
        margin-top: .5em;
    }

    .equipe__cargo {
        font-size: 1.2em;
    }

    .equipe__descricao {
        font-size: 1.2em;
    }

    .equipe-mobile {
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .equipe-desktop {
        display: none;
    }

    .equipe-mobile {
        display: block;
        margin: 0 2em;
    }

    .equipe__titulo {
        font-size: 2em;
    }

}

