.sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 10em;
    padding: 3em;
    border-radius: 5px;
    background-color: var(--branco);
}

.sobre-nos__info {
    display: flex;
    gap: 4em;
}

.sobre-nos__imagem, .sobre-nos__texto {
    width: 50%;
}

.sobre-nos__imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-nos__subtitulo {
    color: var(--vermelho);
}

.sobre-nos__descricao {
    padding-top: 1em;
    margin-bottom: 2em;
}

.sobre-nos__link {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--vermelho);
    padding: .7em 1.5em;
    margin-left: 32.5em;
    border-radius: 3px;
    transition: .1s;
}

.sobre-nos__link:hover {
    background-color: var(--vermelho-escuro);
}

.img2 {
    width: 400px;
    height: 300px;
    transition: .2s;
    border-radius: 10px;
}

.img2:hover {
    opacity: .6;
}

.sobre-nos__mobile {
    display: none;
}

@media screen and (min-width: 1800px) {

    .sobre-nos__info {
        display: flex;
        gap: 0;
    }

    .img2 {
        width: 500px;
        height: 400px;
    }

    .sobre-nos__subtitulo {
        font-size: 1.5em;
    }

    .sobre-nos__titulo {
        font-size: 2.5em;
    }

    .sobre-nos__descricao {
        font-size: 1.3em;
    }

    .sobre-nos__link {
        text-decoration: none;
        color: var(--branco);
        background-color: var(--vermelho);
        padding: .7em 1.5em;
        margin-left: 37em;
        border-radius: 3px;
        transition: .1s;
        font-size: 1.5em;
    }

    .sobre-nos__mobile {
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .sobre-nos {
        background-color: var(--cinza);
        padding: 0;
        margin: 0;
    }

    .sobre-nos__mobile {
        display: block;
        padding: 1.5em;
        padding-bottom: 2em;
        margin: 0 2em;
        margin-bottom: 2em;
    }

    .sobre-nos__desktop {
        display: none;
    }

    .sobre-nos__mobile {
        background-color: var(--branco);
    }

    .sobre-nos__mobile-subtitulo {
        color: var(--vermelho);
    }

    .sobre-nos__mobile-descricao {
        margin: 1em 0 2em 0;
    }

}
